# Vivado junk
*.jou
*.log
*.str
*.tmp

.Xil/
*.cache/
*.runs/
*.sim/
*.hw/
*.ip_user_files/
*.gen/

# BD-generated IP (do not version)
*/bd/*/ip/
*/ip/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Vivado project internals (specific)
hw/microV/.Xil/
hw/microV/*.runs/
hw/microV/*.cache/
hw/microV/*.sim/
hw/microV/*.hw/
hw/microV/*.ip_user_files/

# Vivado project folder (local build container)
hw/microV/


# all software for now
sw/