# Vivado junk
*.jou
*.log
*.str
*.tmp

.Xil/
*.cache/
*.runs/
*.sim/
*.hw/
*.ip_user_files/
*.gen/

# BD-generated IP (do not version)
*/bd/*/ip/
*/ip/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Vivado project internals (specific)
hw/microBlaze/.Xil/
hw/microBlaze/*.runs/
hw/microBlaze/*.cache/
hw/microBlaze/*.sim/
hw/microBlaze/*.hw/
hw/microBlaze/*.ip_user_files/
